/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #f6f4f1;
  --first-color-dark: #c1576a;
  --first-color-darken: #a83e51;
  --white-color: #333;

  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1rem;
  --normal-font-size: 0.938rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
.active {
  text-decoration: underline;
  color: #c1576a !important;
}
body {
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1,
p,
ul {
  margin: 0;
}
p {
  color: #333;
}
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transition: 0.5s;
  }
}
@media screen and (max-width: 400px) {
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__close,
.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--white-color);
}

.nav__link:hover {
  color: var(--first-color-dark);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 100;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  background-color: var(--first-color);
  overflow: hidden;
  padding-top: 3.125rem;
}

.home__container {
  height: calc(80vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home__img {
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img {
  position: absolute;
  top: 0;
  left: 0;
}

.home__data {
  color: var(--white-color);
}

.home__title {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2.5rem;
}
/* ===== To use everywhere =====*/
.container {
  width: 70%;
  margin: 0px auto;
}
@media all and (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0px auto;
  }
}

/* ===== WORK / PROJECT SECTION =====*/
.work-title {
  text-align: center;
  font-size: 22px;
  color: var(--white-color);
}
.work_img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 1.25rem;
}
.work__container .work_detail {
  color: rgba(51, 51, 51, 0.8);
}
.work {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1.25rem;
  padding: 10px;
  /* justify-content: space-between; */
  margin-top: 1.25rem;
}
.work__container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  /* background: var(--first-color); */
}

/* contact section start */
.contact {
  width: 100%;
  position: relative;
  padding: 10px 0;
  text-align: center;
  margin: 100px 0;
}
.contact__title {
  font-weight: 300;
}
.contact__content {
  width: 100%;
}
.contact__content-p {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.contact__content-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: rgba(242, 242, 242, 0.6);
  width: 40%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
  color: rgba(242, 153, 74, 0.9);
}
.contact__content-icons li {
  position: relative;
}
.contact__content-icons li img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}
/* contact section end */
@media all and (max-width: 900px) {
  .home__data {
    background-color: rgba(236, 97, 91, 0.015);
    padding: 0 10px;
  }
  .work__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  .contact__content-p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .contact__content-icons {
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 0.6);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  .footer__icons {
    width: 20%;
  }
  /* .footer__content {
    background-color: tomato;
  } */
  .about__details {
    flex-direction: column;
  }
  .resume {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .picture {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .resume__download {
    padding: 10px 20px;
    width: 12.5rem;
    background: #c1576a;
    color: #f2f2f2;
    border: 1px solid #c1576a;
    transition: all 0.3s ease-in;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 15vh !important;
    padding-top: 1.625rem !important;
    color: white;
    text-align: center;
  }
}

/* footer css start */
footer {
  width: 100%;
  position: relative;
  padding: 10px 0;
  padding-top: 20px;
  text-align: center;
  border-top: 2px solid rgb(51, 51, 51, 0.25);
}
.footer__icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 8%;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer__icons li a img {
  width: 20px;
  height: 20px;
}
/* footer css end */

/* ===== About page =====*/
.banner {
  width: 100%;
  height: 30vh;
  padding-top: 6.625rem;
  background: #333;
  color: white;
  text-align: center;
}
.banner_desc {
  color: #c1576a;
}
.about__container {
  margin-top: 4rem;
  padding: 0 20px;
  margin-bottom: 4rem;
}
.about__details {
  display: flex;
}
.resume {
  flex: none;
}
.picture {
  max-width: 200px;
  height: auto;
}
.resume__download {
  display: flex;
  padding: 10px 20px;
  background: #c1576a;
  color: #f2f2f2;
  border: 1px solid #c1576a;
  transition: all 0.3s ease-in;
}
.resume__download:hover {
  background: transparent;
  color: #c1576a;
}
.about__details-p {
  padding-left: 2.5rem;
}
.abouts__skills {
  margin-top: 20px;
  color: #333;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }

  .home__img {
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home__img img {
    width: 375px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img {
    width: 604px;
    height: 466px;
  }

  .home__img img {
    width: 604px;
  }
}
